/* li {
  height: 30px;
  line-height: 30px;
} */

table {
  width: 100%;
  border: 1px solid #444444;
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
}
td {
  border-bottom: 1px solid #444444;
  border-left: 1px solid #444444;
  padding: 10px;
}
ul {
  list-style-type: none;
}
